astroid==2.3.3
attrs==19.2.0
awsebcli==3.17.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
botocore==1.13.47
bs4==0.0.1
cement==2.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
Django==2.1.1
django-crispy-forms==1.7.2
django-recaptcha==2.0.4
django-rest-framework==0.1.0
djangorestframework==3.10.3
docutils==0.15.2
entrypoints==0.3
future==0.16.0
idna==2.7
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
jupyterthemes==0.20.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lesscpy==0.13.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
mysql-connector-python==8.0.18
mysqlclient==1.4.2.post1
nbconvert==5.6.0
nbformat==4.4.0
nltk==3.4.5
notebook==6.0.1
numpy==1.17.2
pandocfilters==1.4.2
parso==0.5.1
pathspec==0.5.9
pickleshare==0.7.5
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.10
Pygments==2.4.2
pylint==2.4.4
PyMySQL==0.9.3
pyparsing==2.4.2
pypiwin32==223
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.1
pywin32==227
pywinpty==0.5.5
PyYAML==3.13
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.20.1
selenium==3.141.0
semantic-version==2.5.0
Send2Trash==1.5.0
six==1.11.0
soupsieve==1.9.1
sqlparse==0.3.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.24.3
wcwidth==0.1.8
webencodings==0.5.1
whitenoise==4.1.4
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==0.6.0
